@model OgrenciModel

<h3>Öğrenci Girişi:</h3>

<form asp-controller="Ogrenci" asp-action="Giris" method="post">
    <div class="form-group">
        <label asp-for="OkulNo"></label>
        <input asp-for="OkulNo" class="form-control" value="1"/>
        <span asp-validation-for="OkulNo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsimSoyisim"></label>
        <input asp-for="IsimSoyisim" class="form-control" />
        <span asp-validation-for="IsimSoyisim" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sinifi"></label>
        <input asp-for="Sinifi" class="form-control" />
        <span asp-validation-for="Sinifi" class="text-danger"></span>
    </div>
    
    <span class="text-danger">* olan alanlar boş geçilemez.</span>
    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Giriş</button>
        <a class="btn btn-warning" asp-controller="Ogrenci" asp-action="Kayit" role="button">Kayıt Ol</a>
    </div>
</form>