@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="GET" action="/Ogrenci/Gonder">
    <div class="form-group">
        <label>Okul No</label>
        <input type="text" name="okulno" class="form-control"></input>
    </div>
    <div class="form-group">
        <label>Ad</label>
        <input type="text" name="ad" class="form-control"></input>
    </div>
    <div class="form-group">
        <label>Soyad</label>
        <input type="text" name="soyad" class="form-control"></input>
    </div>
    <div class="form-group">
        <label>Sınıf</label>
        <input type="text" name="sinif" class="form-control"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Gönder</button>
    </div>
</form>